<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{myblog.title}">Blog Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<h3 th:text="#{myblog.title}"> Blog Title </h3>
Date : <b th:text="${currentDate}">Sat Oct 24 2015</b><br/>
<p th:text="#{myblog.msg}">Blog Message</p>
<h3 th:text="#{myblog.writers}"> Writers </h3>
<table>
    <tr th:each="writer : ${writers}">
        <td th:text="${writer.name}">name</td>
        <td> - </td>
        <td th:text="${writer.location}">location</td>
    </tr>
</table>
</body>
</html>